.card {
  border: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.ui.statistics {
  display: flex;
  justify-content: center;
  margin: 0;
}
@media only screen and (max-width: 750px){
  .card {
    border: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 8px;
    line-height: 0.3;
    margin: 0 !important;
  }
  .ui.statistics {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}
