.home-page-charts{
  margin: 0 8px 0 8px !important;
}
.home-page-charts .col{
  max-width: 46%;
  margin: 0 8px 0 8px !important;
}
.category-selection {
  margin: 0 8px 0 8px !important;
}
.ui.form {
  display: flex;
  justify-content: space-around;
}
.ui.form .inline.fields {
  font-size: 16px;
  font-weight: 900;
}
@media only screen and (max-width: 760px){
  .home-page-charts .col{
    max-width: 100%;
    flex: 1;
    margin: 0 8px 0 8px !important;
  }
  .card {
    font-size: 8px;
  }
  .global-data-chart {
    display: none;
  }

}
